<img class="hero" src="assets/img/mm.png" alt="Montessori Match Logo" />
<h1>Where schools and teachers connect</h1>
<app-how-it-works></app-how-it-works>
<div class="flex-container-horizontal">
  <app-for-teachers></app-for-teachers>
  <app-for-schools></app-for-schools>
</div>
<div className="flex-container-horizontal">
  <a
      href="http://montessorimatch.us14.list-manage.com/subscribe?u=9be45c7772ad2a078cc4b091d&amp;id=91ce5d5d68"
      target="_blank"
      class="flex-item-horizontal"
  >
      <button md-raised-button class="mailing-list">
        Sign up for our mailing list to get updates!
      </button>
  </a>
</div>
