<md-card *ngIf="profileComplete()">
  <md-card-header>
    <md-card-title>My Profile</md-card-title>
    <img md-card-avatar src="http://via.placeholder.com/400x400">
  </md-card-header>
  <md-card-content>
    <p *ngIf="profile.firstName">
      Name: {{profile.firstName}} {{profile.lastName}}
    </p>
    <p *ngIf="profile.name">
      Name: {{profile.name}}
    </p>
    <p>
      Display name: {{profile.displayName}}
    </p>
    <p>
      Description: {{profile.description}}
    </p>
  </md-card-content>
  <button md-raised-button color="primary" (click)="editProfile()">Edit Profile</button>
</md-card>
