<md-card *ngIf="profileComplete()">
  <md-card-header>
    <md-card-title>My Profile</md-card-title>
    <img md-card-avatar [src]="profile.avatarUrl ? profile.avatarUrl : 'http://via.placeholder.com/400x400'">
  </md-card-header>
  <md-card-content>
    <p *ngIf="profile.firstName">
      Name: {{profile.firstName}} {{profile.lastName}}
    </p>
    <p *ngIf="profile.name">
      Name: {{profile.name}}
    </p>
    <p>
      Display name: {{profile.displayName}}
    </p>
    <p>
      Description: {{profile.description}}
    </p>
  </md-card-content>
  <button md-raised-button color="primary" (click)="editProfile()">Edit Profile</button>
  <button md-raised-button color="primary" (click)="editProfilePicture()">{{ profile.avatarUrl ? 'Change Picture' : 'Upload Picture'}}</button>
</md-card>
<md-card>
  <md-card-header>
    <md-card-title>My Matching Profiles</md-card-title>
  </md-card-header>
  <md-card-content>
    <p *ngFor="let mp of myMatchingProfiles" (click)="editMatchingProfile(mp)">{{mp.id}}</p>
  </md-card-content>
  <button md-raised-button color="primary" (click)="newMatchingProfile()">Create New Matching Profile</button>
</md-card>
