<md-card class="flex-item-horizontal">
  <img md-card-image src="assets/img/iamteacher.png" />
  <md-card-content>
    <p>
      Teaching is so rewarding. It can also be hard, especially if you’re teaching in a school with a culture, location, or administration that doesn’t work for you. We know that when teachers work in schools in which they thrive, the children flourish.
    </p>
    <p>
      Are you ready to find a position in a school that values your contributions, connects you with inspiring colleagues, and is located in a community that is just right for you?
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="accent">Build Profile</button>
  </md-card-actions>
</md-card>
