<md-toolbar>
  <h3>Montessori Match</h3>
  <app-faq-button></app-faq-button>
  <app-terms-button></app-terms-button>
  <app-about-button></app-about-button>
  <app-sign-in-button *ngIf="!authService.loggedIn"></app-sign-in-button>
  <app-register-form-button *ngIf="!authService.loggedIn"></app-register-form-button>
  <button
    *ngIf="authService.loggedIn"
    routerLink="/profile"
    routerLinkActive="active"
    md-button
    color="accent"
  >
    My Profile
  </button>
  <button
    *ngIf="authService.loggedIn"
    routerLink="/"
    routerLinkActive="active"
    md-button
    color="accent"
    (click)="authService.logout()"
  >
    Logout
  </button>
  <a href="https://twitter.com/montessorimatch" class="twitter-follow-button" data-show-count="false"><button md-raised-button>Follow @montessorimatch</button></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</md-toolbar>
