:host {
  .flex {
    display: flex;
  }

  .img-preview {
    border-radius: 50%;
    flex: 1;
    border: 1px solid black;
  }

  input[type="file"] {
    display: none;
  }

  /deep/ .content-img {
    min-height: 400px !important;
  }
}
